<h3 mat-dialog-title>Kwitansi Kost Sadewa</h3>
<div mat-dialog-content>
  <mat-form-field style="width: 100%;">
    <mat-label>Nama</mat-label>
    <input matInput [(ngModel)]="data.nama">
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>terbilang (Rp)</mat-label>
    <input matInput [(ngModel)]="data.terbilang">
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Perihal</mat-label>
    <input matInput [(ngModel)]="data.perihal">
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Tanggal</mat-label>
    <input matInput [(ngModel)]="data.tanggal">
  </mat-form-field>
</div>
<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="simpan(data)">Save</button>
</mat-dialog-actions>
